<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>快问快答</title>

<script type="text/javascript" src="/static/js/jquery-1.7.2.js">
</script>

</head>
<body>
	<div>
      <h2>提出问题</h2>
      <form action="../saveQuestion" method="post">
      	Q:<input type="text" name="question" id="question"/><br/>
      	A:<input type="text" name="answer" id="answer" /><br/>
      	<button onclick="this.form.submit()">完成</button>
      </form>
    </div>
</body>
</html>