<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>快问快答</title>

<script type="text/javascript" src="/static/js/jquery-1.7.2.js">
</script>
<script type="text/javascript">
      $(document).ready(function(){
            setInterval(ajax_captcha,3000);
      });

      function ajax_captcha(){

      }
</script>

</head>
<body>
	<div>
      <h2>提出问题</h2>
      <form action="../tiwen" method="post">
      	
      	<table>
                  <tr><td>Q:</td><td>{{form.question}}<td></tr>
                  <tr><td>A:</td><td>{{form.answer}}<td></tr>     
            </table>
             <p> <label for="id_captcha">验证（必填）：{{form.captcha}}</label> 
                   </p>
            
      	<input type="submit" value="提交" />
      </form>
    </div>
</body>
</html>