<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>快问快答</title>
<style type="text/css">
	.center{
		text-align: center;
		height: 500px;
		line-height: 500px;
		color: #626262;
	}
	.center button{
		color: #626262;
		
		width: 150px;
		height:75px;
	}
</style>
<script type="text/javascript" src="/static/js/jquery-1.7.2.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#btna').click(function(){
			
			window.location="../huida";
			});
		$('#btnq').click(function(){
			//alert("xx");
			window.location="../tiwen";
		});
	});
</script>
</head>
<body>
<div class="center">
	<button id="btna">我来答题</button>
	<button id="btnq">我要提问</button>
</div>

</body>
</html>